*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  margin: 16px 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.login {
  margin-top: 24px;
  width: 70%;
  h1 {
    font-size: 24px;
  }
  form {
    width: 40%;
  }
}
.login,
.login form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
